@keyframes mount {
  from {
    opacity: 0;
    transform: scale(0.95) translate3d(0, 0.5rem, 0);
  }
  to {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

.mount-children {
  & > * {
    animation: mount var(--transition) forwards;
  }
}

save-message {
  position: fixed;
  display: grid;
  place-items: center;
  right: 1em;
  bottom: 1em;
  height: 2.5em;
  width: 11em;
  background: var(--g7);
  border: var(--border);
  border-radius: var(--radius);
  color: var(--g3);
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  transition: var(--transition), transform 0s;

  &::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 12%;
    width: 76%;
    height: 76%;
    border: var(--border);
    border-color: var(--primary);
    border-radius: var(--radius);
    opacity: 0;
    transition: opacity var(--transition), transform 120s linear;
  }
}

.saving save-message {
  width: 2.5em;
  color: var(--g7);
  border-color: var(--primary);
  transform: rotate(5555deg);
  transition: var(--transition), transform 120s 0.2s linear;

  &::after {
    opacity: 1;
    transform: rotate(9999deg);
    transition-delay: 0.2s;
  }
}
