button {
  color: var(--g3);
  cursor: pointer;
  background: none;
  border: var(--border);
  border-color: var(--primary-40);
  padding: var(--buttonPadding);
  border-radius: var(--radius);

  & > * {
    color: inherit;
    margin: 0;
  }

  &.icon {
    border-color: transparent;

    &:hover {
      border-color: transparent;
      background: var(--g8);
    }

    &:focus {
      border-color: var(--primary);
    }
  }

  &.link {
    border: none;
    padding: 0;
  }

  &:hover {
    color: var(--g0);
    border-color: var(--primary);
  }

  &:focus {
    border-color: var(--primary);
  }

  &[data-active] {
    color: var(--g0);
  }

  &[disabled] {
    color: var(--g5);
    border-color: currentColor;
  }
}

a,
button.link {
  text-decoration: underline;
  text-decoration-color: transparent;

  &:hover,
  &:focus {
    text-decoration-color: currentColor;
    color: var(--primary);
  }
}
