.center {
  max-width: 50em;
  margin: 0 auto;

  toolbar {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: auto;
    padding: 1em;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 2;

    button,
    a.button {
      margin-right: 0.5em;
      border-color: transparent;
      opacity: 0.63;

      &:hover,
      &:focus {
        opacity: 1;
        border-color: transparent;
        background: var(--g7);
      }

      &[data-active] {
        opacity: 1;
        border-color: var(--g6);
        background: var(--g8);
      }

      &:focus {
        border-color: var(--primary-60);
      }
    }
  }

  .editor {
    font-size: calc(0.6rem + 50%);
    line-height: 1.5;
  }

  .preview,
  .editor {
    resize: none;
    overflow-y: auto;
    border: var(--border);
    border-color: transparent;
    background: var(--g8);
    padding: 2em;
    height: 100%;

    &:focus,
    &:focus-within {
      border-color: currentColor;
    }
  }
}
