.center {
  max-width: 50em;
  margin: 0 auto;

  toolbar {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: auto;
    padding: 1em;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 2;

    button,
    a.button {
      margin-right: 0.5em;
      border-color: transparent;
      opacity: 0.63;

      &:hover,
      &:focus {
        opacity: 1;
        border-color: transparent;
        background: var(--g7);
      }

      &.active {
        opacity: 1;
        border-color: var(--g6);
        background: var(--g8);
      }

      &:focus {
        border-color: var(--primary-60);
      }
    }
  }
}

.preview,
.editor,
.intellisense-mapper {
  padding: 2em;
}

.preview,
.editor {
  resize: none;
  overflow-y: auto;
  border: var(--border);
  border-color: transparent;
  background: var(--g8);
  height: 100%;

  &:focus,
  &:focus-within {
    border-color: currentColor;
  }
}

.preview {
  padding-top: 4em;
}

.editor,
.intellisense-mapper {
  font-size: calc(0.6rem + 50%);
  line-height: $tall;
}

.intellisense {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  z-index: 2;
  width: auto;
  max-width: 20rem;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  border-radius: var(--radius);
  background: var(--g7);
  box-shadow: var(--shadow);
  border: var(--border);
  overflow: hidden;

  &-mapper {
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
  }

  li {
    max-width: 100%;
    overflow: hidden;
  }

  button {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: transparent;
  }

  &[data-active] {
    opacity: 1;
    pointer-events: all;
    transition: transform var(--transition), opacity var(--transition);
  }
}

@media screen and (max-width: $mobile) {
  .preview,
  .editor {
    height: calc(100% - var(--headerHeight));
  }

  .preview {
    padding: 0.5em;
  }

  .intellisense-mapper,
  .editor {
    padding: 1em;
  }
}
