.fields {
  li {
    --translateY: 0;
    --scaleY: 1;
    display: grid;
    grid-template-columns: 1fr 1fr calc(6em + var(--borderWidth));
    gap: 0.4em;
    padding: 0.2em 0;
    transform-origin: top;
    place-content: start;
    transition: var(--transition);
    margin-bottom: calc(-2.9em * (1 - var(--scaleY)));
    transform: scale(calc(0.9 + 0.1 * var(--scaleY))) translate3d(0, calc(100% * var(--translateY)), 0);

    actions {
      display: inline-flex;
    }

    label {
      grid-template-columns: unset;
    }

    input,
    button {
      height: 2.5rem;
    }

    button {
      align-self: center;
    }
  }
}
