input {
  background: var(--g8);
  border-radius: var(--radius);
  width: 100%;
  max-width: none;
}

input,
textarea {
  border: var(--border);
  border-color: transparent;
  transition: var(--transition);

  &:focus {
    border-color: currentColor;
  }
}

input {
  padding: var(--buttonPadding);
}

label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.fields {
  li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 0.4em;
    padding: 0.2em 0;
    place-content: start;
    place-items: start;

    input,
    button {
      height: 2.5em;
    }

    button {
      align-self: end;
    }
  }
}
