input {
  background: var(--g8);
  border-radius: var(--radius);
  width: 100%;
  max-width: none;
}

input,
textarea,
select {
  font-family: Consolas, monospace;
  border: var(--border);
  border-color: transparent;
  transition: var(--transition);

  &:focus {
    border-color: currentColor;
  }
}

input {
  padding: var(--buttonPadding);
}

label {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 0.2rem;
  user-select: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--g4);

  input,
  select {
    letter-spacing: 0;
    color: var(--g3);
    font-size: 1rem;

    &:focus {
      color: var(--g1);
    }
  }
}

select {
  appearance: none;
  padding: var(--buttonPadding);
  padding-right: 1.5em;
  padding-left: 0.2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 216'%3E%3Cpolygon points='11.44 63.46 108 167.96 204.56 63.46 11.44 63.46' style='fill:none;stroke:%236b7183;stroke-linejoin:round;stroke-width:20px'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5em top 50%;
  background-size: 1em auto;
  border-radius: var(--radius);
  background-color: var(--g8);
  color: var(--g1);

  option {
    padding: var(--buttonPadding);
    color: inherit;
    background: inherit;
  }
}

.fields {
  li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    gap: 0.4em;
    padding: 0.2em 0;
    place-content: start;
    place-items: start;

    actions {
      display: flex;
    }

    input,
    button {
      height: 2.5em;
    }

    button {
      align-self: end;
    }
  }
}

@mixin track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
}

@mixin thumb() {
  border: var(--border);
  border-color: var(--g7);
  height: 1em;
  width: 1em;
  border-radius: var(--radius);
  background: var(--thumb-color);
  cursor: pointer;
}

input[type="range"] {
  --thumb-color: var(--g5);
  -webkit-appearance: none;
  background: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0.2em 0;
  width: 100%;
  transition: var(--transition);

  * {
    transition: inherit;
  }

  &:hover,
  &:focus {
    --thumb-color: var(--primary);
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: var(--g5);
    border-radius: var(--radius);
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: -0.4em;
  }

  &:focus::-webkit-slider-runnable-track {
    background: var(--g6);
  }

  &::-moz-range-track {
    @include track();
    background: var(--g6);
    border-radius: var(--radius);
  }
  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: 1em 0;
    color: transparent;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: var(--g5);
  }

  &:focus::-ms-fill-upper {
    background: var(--g6);
  }
}
