header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: var(--headerHeight);
  overflow: visible;
  background: var(--g8);
  border-bottom: var(--border);
  border-color: var(--g7);
  padding: 0.5em 1em;

  .menu-toggle {
    height: 100%;
    width: 2.5em;
    border: none;

    svg {
      stroke: currentColor;
      stroke-width: 20;
      stroke-linecap: round;
      color: var(--g6);
    }
  }

  #logo {
    margin-right: auto;
    display: flex;
    height: 80%;

    img {
      height: 100%;
    }
  }

  separator {
    height: 80%;
    width: var(--borderWidth);
    background: var(--g6);
    border-radius: var(--radius);
    margin: 0 1em;
  }

  button:hover,
  button:focus {
    background: var(--g7);
  }

  & > button + button:not(.icon) {
    margin-left: 1em;
  }
}

html[show_header_nav] .header-nav {
  opacity: 1;
  transform: scale(1) translate3d(0, 0, 0);
  pointer-events: all;
}

.header-nav {
  position: absolute;
  background: var(--g8);
  border-radius: var(--radius) 0 var(--radius) var(--radius);
  top: 100%;
  right: 1em;
  display: flex;
  flex-flow: column;
  box-shadow: var(--shadow);
  padding: 1em;
  opacity: 0;
  transform-origin: top right;
  transform: scale(0.9) translate3d(0, 0, 0);
  transition: opacity var(--transition), transform var(--transition);
  pointer-events: none;

  button {
    display: block !important;
    border-color: transparent !important;
    text-align: left;
  }
}

@media screen and (max-width: $mobile) {
  header {
    flex-flow: row wrap;
    text-align: right;

    #logo {
      width: 2.5em;
    }

    separator {
      background: none;
      margin: 0.2em;
    }

    .header-nav {
      right: 0;
    }
  }
}
