main {
  top: var(--headerHeight);
  display: flex;
  background: var(--g7);

  section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--headerHeight));

    &.aside {
      padding: 1em;
    }

    &.left {
      flex: 2;
      min-width: 12em;
    }

    &.right {
      flex: 3;
      min-width: 24em;
    }

    &.center {
      flex: 8;
    }
  }
}

.aside .pane {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;

  & > :first-child {
    flex: 0;
  }

  .selection,
  .sets {
    overflow-y: auto;
  }

  .selection {
    flex: 2;
    width: 100%;
    max-width: 32em;
    border-bottom: var(--border);
    margin-bottom: 2em;

    &__header {
      display: flex;
      align-items: center;
    }

    .toc-wrapper {
      padding: 2em 0;
    }

    .toc {
      li {
        display: flex;
        justify-items: flex-start;
      }

      button {
        padding: 0.5em 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    & > :last-child {
      margin-bottom: 2em;
    }
  }

  .sets {
    flex: 1;

    li {
      --scaleY: 1;
      --translateY: 0;
      display: flex;
      align-items: center;
      align-content: center;
      transition: var(--transition);
      margin-bottom: calc(-2em * (1 - var(--scaleY)));
      transform: scale(calc(0.9 + 0.1 * var(--scaleY))) translate3d(0, calc(100% * var(--translateY)), 0);

      & > :first-child {
        margin-right: 0.5em;
      }
    }
  }
}
