header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--headerHeight);
  background: var(--g8);
  border-bottom: var(--border);
  border-color: var(--g7);
  padding: 0.5em 1em;

  #logo {
    img {
      height: 100%;
    }
  }

  nav {
    margin-left: auto;
  }

  button:hover,
  button:focus {
    background: var(--g7);
  }
}

main {
  top: var(--headerHeight);
  display: flex;
  background: var(--g7);

  section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--headerHeight));

    &.aside {
      padding: 1em;
    }

    &.left {
      flex: 2;
      min-width: 12em;
    }

    &.right {
      flex: 3;
      min-width: 24em;
    }

    &.center {
      flex: 8;
    }
  }
}

.aside .pane {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;

  & > :first-child {
    flex: 0;
  }

  &.data {
    .sets {
      flex: 1;
    }
    .selection {
      flex: 2;
    }
  }

  .selection,
  .sets {
    overflow-y: auto;
  }

  .selection {
    width: 100%;
    max-width: 32em;
    border-bottom: var(--border);
    margin-bottom: 2em;

    & > :last-child {
      margin-bottom: 2em;
    }
  }

  .sets {
    li {
      display: flex;
      align-items: center;
      align-content: center;

      & > :first-child {
        margin-right: 0.5em;
      }
    }
  }
}
