@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

loader {
  --size: 4em;
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  background: var(--g8);
  transition: var(--transition);

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    border: var(--border);
    border-radius: var(--radius);
    border-color: var(--primary);
    animation: loader var(--transition) infinite paused;
    animation-duration: 2s;
  }

  &::after {
    --size: 3em;
    animation-delay: 0.1s;
  }
}
