@media screen and (max-width: $mobile) {
  :root {
    font-size: 14px;
  }

  body {
    padding: 0;
    overflow: visible;
    height: auto;
    display: block;

    & > loader {
      position: fixed;
    }
  }

  main {
    height: auto;
    flex-flow: column;

    section {
      max-height: none;
      display: block;

      &.left,
      &.right,
      &.center {
        max-width: none;
        min-width: 0;
      }

      &.aside {
        height: auto;
        padding: 3em 1em;
        border-bottom: var(--border);

        .pane {
          height: auto;
          display: grid;
          gap: 2em;
          grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

          h2 {
            grid-column: 1 / -1;
          }

          .selection {
            order: 3;
            border: none;
            margin: 0;
          }
        }
      }
    }

    .styles {
      position: fixed;
      height: calc(100vh - var(--headerHeight));
      top: var(--headerHeight);

      .adjustment label {
        margin-bottom: 1rem;
      }
    }

    .center {
      order: 3;
      min-height: 0;
      max-height: none;
      margin: 0;

      .preview,
      .editor {
        padding-left: 1em;
        padding-right: 1em;
        height: calc(100vh - var(--headerHeight));
        width: 100%;
      }
    }
  }
}
