@media screen and (max-width: $mobile) {
  :root {
    font-size: 14px;
  }

  #app {
    padding: 0;
    height: auto;
    display: block;

    & > loader {
      position: fixed;
    }
  }

  header {
    #logo {
      height: 1.5em;
    }

    nav {
      right: 0;
    }
  }

  main {
    top: 0;
    height: auto;
    flex-flow: column;

    & > section:first-child {
      top: var(--headerHeight);
    }

    section.aside {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    .styles {
      position: fixed;
      top: var(--headerHeight);
      height: calc(100vh - var(--headerHeight));
    }

    section.center {
      padding: 0;
      margin: 0;
      order: 10;

      .preview,
      .editor {
        padding: 4em 1em 2em 1em;
        height: calc(100vh - var(--headerHeight));
        width: 100%;
      }
    }
  }
}
