@media screen and (max-width: 960px) {
  // :root {
  //   font-size: 12px;
  // }

  body {
    padding: 0;
    overflow: visible;
    height: auto;
    display: block;
  }

  main {
    height: auto;
    flex-flow: column;

    section {
      height: auto;
      max-height: none;
    }

    .center-pane {
      order: 3;
      min-height: calc(100vh - var(--headerHeight));
      margin: 0;
    }

    .aside-pane {
      padding-bottom: 3em;
      border-bottom: var(--border);
      border-color: var(--primary);

      & > :nth-child(2) {
        border: none;
        margin: 0;
      }
    }
  }
}
