.preview {
  // MAIN
  --vertical-space: 1em;
  --line-height: 1.5;
  font-size: 16px;
  line-height: var(--line-height);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

/*************************/
/** NON-EDITABLE STYLES **/
/*************************/

.preview {
  &__wrapper {
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      right: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  * {
    color: inherit;
    font-weight: inherit;
    background: none;
    margin: 0;
    padding: 0;
  }

  * + *:not(li) {
    margin-top: var(--vertical-space);
  }

  & > :last-child {
    margin-bottom: 2em;
  }

  h1 {
    font-size: 2.37em;
  }

  h2 {
    font-size: 1.63em;
  }

  h3 {
    font-size: 1.37em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1em;
  }

  ul,
  ol {
    list-style: disc;
    padding-left: 1em;
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    padding-left: var(--space);
    border-left: var(--border);
  }

  br,
  hr {
    display: block;

    & + * {
      margin-top: 0;
    }
  }

  br {
    height: 0;
  }

  hr {
    margin-top: 3em;
    padding-top: 3em;
    border-top: var(--border);
  }
}
