@media print {
  #app {
    display: block;
    overflow: visible;
    height: auto;
    background: none;
    color: var(--g1);
    padding: 0;
  }

  header,
  loader,
  toolbar,
  .editor,
  .left,
  .right {
    display: none !important;
  }

  main {
    height: auto;
    display: block;
    top: 0;

    section.center {
      all: unset;
      height: auto;
      max-height: none;
      max-width: none;

      .preview {
        background: $g8;
        color: $g0;
        padding: 0 !important;
        height: auto !important;

        &__wrapper {
          &::before,
          &::after {
            position: fixed;
          }
        }

        &__page {
          break-inside: avoid;

          & + .preview__page {
            break-before: always;
          }
        }
      }
    }
  }
}
