html.showStyles .styles {
  box-shadow: var(--shadow);
  transform: translate3d(0, 0, 0);

  button {
    transform: translate3d(0, 0, 0);
    border-radius: var(--radius);
  }
}

.styles {
  z-index: 6;
  position: absolute;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0;
  width: calc(100% - 4em);
  min-width: 16em;
  max-width: 32em;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--g8);
  border: var(--border);
  border-right: none;
  border-radius: var(--radius) 0 0 var(--radius);
  transform: translate3d(100%, 0, 0);
  transition: transform var(--transition);

  & > * {
    padding: 1rem;
  }

  &__header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: space-between;
    gap: 1em;

    actions {
      display: flex;
      justify-content: flex-end;
      height: 2.5em;
    }
  }

  .adjustments {
    padding: 0 1rem;
    overflow-y: auto;
  }

  .adjustment {
    border-radius: var(--radius);
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    border: var(--border);
    background: var(--g7);
    border-color: var(--g7);
    transition: var(--transition);

    &:last-child {
      margin-bottom: 4em;
    }

    &:hover,
    &:focus-within {
      border-color: var(--primary-60);
    }

    &[data-expanded] {
      padding: 1em;
      border-color: var(--g6);
      background: var(--g8);
      transform: translate3d(0, 0, 0);

      .adjustment__header {
        margin-bottom: 1em;

        &--actions {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
      border: none;
      background: none;

      &--title {
        text-transform: capitalize;
      }

      &--actions {
        opacity: 0;
        pointer-events: none;
        margin-left: auto;
        justify-self: flex-end;
        transition: opacity var(--transition);
      }
    }

    label {
      justify-items: stretch;
      margin-bottom: 0.5rem;
      transition: var(--transition);

      input[type="text"],
      select {
        background: var(--g7);
      }

      .label {
        display: flex;

        &__value {
          font-family: Consolas, monospace;
          position: absolute;
          right: 0;
          background: var(--g8);
          box-shadow: -0.63em 0 0.63em 0.37em var(--g8);
        }
      }

      &:hover,
      &:focus-within {
        color: var(--g0);
      }
    }
  }
}
