.styles {
  z-index: 9;
  position: absolute;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0;
  width: calc(100% - 4em);
  min-width: 16em;
  max-width: 32em;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--g7);
  border: var(--border);
  border-right: none;
  border-radius: var(--radius);
  transform: translate3d(100%, 0, 0);
  transition: transform var(--transition);

  &[data-active] {
    font-weight: inherit;
    box-shadow: var(--shadow);
    transform: translate3d(0, 0, 0);
  }

  h2 {
    padding-bottom: 0;
  }

  & > * {
    padding: 1em;
  }

  .adjustments {
    overflow-y: auto;
  }

  .adjustment {
    border-radius: var(--radius);
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    border: var(--border);
    transition: var(--transition);

    &:last-child {
      margin-bottom: 2em;
    }

    &:hover,
    &:focus-within {
      box-shadow: var(--shadow);
      border-color: var(--primary-60);
    }

    &[data-expanded] {
      padding: 1em;
      margin-bottom: 2em;
      transform: translate3d(0, 0, 0);

      .adjustment__header {
        margin-bottom: 1em;

        &--actions {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    &__header {
      display: flex;
      align-items: center;
      font-weight: bold;

      &--title {
        text-transform: capitalize;
      }

      &--actions {
        opacity: 0;
        pointer-events: none;
        margin-left: auto;
        justify-self: flex-end;
        transition: opacity var(--transition);
      }
    }

    label {
      margin-bottom: 0.5rem;
      transition: var(--transition);

      .label {
        display: flex;

        &__value {
          font-family: Consolas, monospace;
          position: absolute;
          right: 0;
          background: var(--g7);
          box-shadow: -0.63em 0 0.63em 0.37em var(--g7);
        }
      }

      &:hover,
      &:focus-within {
        color: var(--g0);
      }
    }
  }
}
