@font-face {
  src: url("/Inter.woff2") format("woff2-variations");
  font-family: "Inter";
  font-weight: 100 1000;
  font-display: swap;
}

body {
  line-height: 1;
  color: var(--g1);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Nueue", sans-serif;
}

[data-active] {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  color: var(--g2);
  letter-spacing: -0.01em;
  margin-bottom: 0.2em;

  input {
    font-family: inherit;
    display: inline-block;
    background: none;
    padding: 0;
    border-radius: 0;
    border: none;
    border-bottom: var(--border);
    border-color: transparent;
    font-weight: inherit;

    &:focus {
      border-color: currentColor;
    }
  }
}

h1 {
  font-size: 1.63em;
  font-weight: 900;
  letter-spacing: -0.03em;
  color: var(--primary-80);
}

h2 {
  color: var(--g4);
  font-size: 1.37em;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.12em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
  text-transform: uppercase;
}

h6 {
  text-transform: uppercase;
  font-weight: inherit;
  font-size: 0.8em;
}

ul,
ol {
  list-style: none;
  padding-top: 0.5em;
}

li {
  color: var(--g3);

  & + button {
    margin-top: 1em;
  }

  button {
    color: inherit;
  }

  &[data-active],
  &:focus-within {
    color: var(--g0);
    border-color: var(--primary);
  }
}

table {
  text-align: left;
  border-collapse: collapse;
  min-width: 100%;

  td:first-of-type,
  thead {
    color: var(--g2);
  }

  thead {
    padding: 1em 0;
    border-bottom: var(--border);
  }

  td,
  th {
    padding: 0.37em;
  }

  tr:nth-of-type(2n) {
    background: var(--g7);
  }
}
