@font-face {
  src: url("/Inter.woff2") format("woff2-variations");
  font-family: "Inter";
  font-weight: 100 1000;
  font-display: swap;
}

$fontFamily: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Nueue", sans-serif;

body {
  line-height: 1;
  color: var(--g1);
  font-family: $fontFamily;
}

.smol {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  & > * {
    text-transform: none;
  }

  input,
  select {
    letter-spacing: 0;
    color: var(--g3);
    font-size: 1rem;

    &:focus {
      color: var(--g0);
    }
  }
}

.light {
  color: var(--g3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  color: var(--g2);
  letter-spacing: -0.01em;
  margin-bottom: 0.2em;

  input {
    font-family: inherit;
    display: inline-block;
    background: none;
    padding: 0;
    border-radius: 0;
    border: none;
    border-bottom: var(--border);
    border-color: transparent;
    font-weight: inherit;

    &:focus {
      color: var(--g0);
      border-color: currentColor;
    }
  }
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -0.03em;
  color: var(--primary-80);
}

h2 {
  font-weight: $bold;
  color: var(--g3);
  font-size: 1.37rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.12rem;
}

h4 {
  font-weight: $bold;
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

h6 {
  text-transform: uppercase;
  font-weight: inherit;
  font-size: 0.8rem;
}

ul,
ol {
  list-style: none;
  padding-top: 0.5em;
}

li {
  color: var(--g3);

  & + button {
    margin-top: 1em;
  }

  button {
    color: inherit;
  }

  &.active,
  &:focus-within {
    color: var(--g0);
    border-color: var(--primary);
  }
}

table {
  font-family: "Consolas", monospace;
  text-align: left;
  border-collapse: collapse;
  min-width: 100%;

  td:first-of-type,
  thead {
    color: var(--g2);
  }

  thead {
    font-family: $fontFamily;
    font-weight: $bold;
    border-bottom: var(--border);
    padding: 1em 0;
  }

  td {
    padding: var(--buttonPadding);
  }

  tr:nth-of-type(2n) {
    background: var(--g8);
  }
}

::selection {
  color: var(--g8);
  background: var(--primary-80);
}
