$g0: #121518;
$g1: #1a1f24;
$g2: #383e46;
$g3: #5a6677;
$g4: #828b9c;
$g5: #9faabd;
$g6: #c5cacf;
$g7: #ecedf0;
$g8: white;
$mobile: 960px;

:root {
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: var(--g6) transparent;
}

*:focus {
  border-color: var(--g4);
}

::-webkit-scrollbar {
  background: transparent;

  &-thumb {
    background: var(--g6);
  }
}

html.dark #app {
  --g0: #{$g8};
  --g1: #{$g7};
  --g2: #{$g6};
  --g3: #{$g5};
  --g4: #{$g4};
  --g5: #{$g3};
  --g6: #{$g2};
  --g7: #{$g1};
  --g8: #{$g0};
}

#app {
  color: var(--g0);
  background: var(--g8);
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;

  // VARIABLES
  --primary: #5768ff;
  --primary-80: #678bff;
  --primary-60: #6da0ff;
  --primary-40: #70b3ff;
  --g0: #{$g0};
  --g1: #{$g1};
  --g2: #{$g2};
  --g3: #{$g3};
  --g4: #{$g4};
  --g5: #{$g5};
  --g6: #{$g6};
  --g7: #{$g7};
  --g8: #{$g8};
  --headerHeight: 3.4rem;
  --radius: 0.37rem;
  --buttonPadding: 0.5rem;
  --borderWidth: 2px;
  --border: var(--borderWidth) solid var(--g6);
  --shadow: 0 0.2rem 0.5rem -0.1rem var(--g5);
  --transition: 0.3s cubic-bezier(0.3, 0.6, 0.1, 1);

  &[data-modal] modal {
    opacity: 1;
    pointer-events: all;
  }

  &[data-loading] {
    * {
      overflow: hidden;
    }

    loader {
      opacity: 1;
      pointer-events: all;

      &::before,
      &::after {
        animation-play-state: running;
      }
    }
  }
}

@import "./loader";
@import "./forms";
@import "./typography";
@import "./buttons";
@import "./header";
@import "./layout";
@import "./center-pane";
@import "./modal";
@import "./style-editor";
@import "./preview";
@import "./mobile";
@import "./animations";
@import "./print";
