$g0: #101214;
$g1: #17191c;
$g2: #34383f;
$g3: #5a6677;
$g4: #828b9c;
$g5: #9faabd;
$g6: #c7ccd1;
$g7: #f2f3f7;
$g8: white;
$mobile: 58rem;
$bold: 700;
$tall: 1.5;

:root {
  font-size: 15px;
  // VARIABLES
  --primary: #5768ff;
  --primary-80: #678bff;
  --primary-60: #6da0ff;
  --primary-40: #70b3ff;
  --error: #ff3448;
  --yellow: #ffb548;
  --green: #59be93;
  --purple: #f260ff;
  --g0: #{$g0};
  --g1: #{$g1};
  --g2: #{$g2};
  --g3: #{$g3};
  --g4: #{$g4};
  --g5: #{$g5};
  --g6: #{$g6};
  --g7: #{$g7};
  --g8: #{$g8};
  --headerHeight: 3.4rem;
  --radius: 0.37rem;
  --buttonPadding: 0.5rem;
  --borderWidth: 2px;
  --border: var(--borderWidth) solid var(--g6);
  --shadowColor: rgba(0, 20, 85, 0.2);
  --shadow: 0 2rem 2rem -1rem var(--shadowColor);
  --transition: 0.37s cubic-bezier(0.37, 0.63, 0, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: var(--g6) transparent;
}

*:focus {
  border-color: var(--g4);
}

::-webkit-scrollbar {
  background: transparent;

  &-thumb {
    background: var(--g6);
  }
}

light,
dark {
  display: inline-flex;
}

dark {
  display: none;
}

html[dark] {
  background: var(--g8);
  --shadowColor: rgba(0, 0, 0, 0.63);
  --g0: #{$g8};
  --g1: #{$g7};
  --g2: #{$g6};
  --g3: #{$g5};
  --g4: #{$g4};
  --g5: #{$g3};
  --g6: #{$g2};
  --g7: #{$g1};
  --g8: #{$g0};

  light {
    display: none;
  }

  dark {
    display: inline-flex;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

#app {
  color: var(--g0);
  background: var(--g8);

  &[data-loading] {
    * {
      overflow: hidden;
    }

    loader {
      opacity: 1;
      pointer-events: all;

      &::before,
      &::after {
        animation-play-state: running;
      }
    }
  }
}

@media screen and (min-width: $mobile) {
  mobile-only {
    display: none;
  }
}

@media screen and (max-width: $mobile) {
  :root {
    font-size: 13px;
  }

  desktop-only {
    display: none;
  }
}

@import "./loader";
@import "./animations";
@import "./forms";
@import "./typography";
@import "./buttons";
@import "./header";
@import "./layout";
@import "./center-pane";
@import "./data-pane";
@import "./style-editor";
@import "./mobile-nav";
@import "./modal";
@import "./preview";
@import "./status";
@import "./print";
